// _forms.sass

input[type="text"]
  border: 1px solid $border-color-light
  height: 20px
  padding: 2px 8px

input[type="submit"]
  border: 1px solid $border-color-light
  padding: 4px
  background-color: $bg-color-light
  &:hover
    background-color: $theme-color
    cursor: pointer
