/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/_type.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #494949;
}

/* line 8, ../../sass/_type.sass */
a {
  color: #00e194;
}

/* line 11, ../../sass/_type.sass */
b {
  font-weight: bold;
}

/* line 3, ../../sass/_forms.sass */
input[type="text"] {
  border: 1px solid #e1e1e1;
  height: 20px;
  padding: 2px 8px;
}

/* line 8, ../../sass/_forms.sass */
input[type="submit"] {
  border: 1px solid #e1e1e1;
  padding: 4px;
  background-color: whitesmoke;
}
/* line 12, ../../sass/_forms.sass */
input[type="submit"]:hover {
  background-color: #00e194;
  cursor: pointer;
}

/* line 4, ../../sass/_screen.sass */
header {
  border-bottom: 1px solid #e1e1e1;
}

/* line 7, ../../sass/_screen.sass */
h1 {
  margin-left: 16px;
  color: #00e194;
  font-size: 20px;
  line-height: 40px;
}

/* line 13, ../../sass/_screen.sass */
section {
  margin: 16px;
}

/* line 4, ../../sass/pages/_login.sass */
body.login div {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -120px;
  margin-top: -10px;
  width: 240px;
  height: 20px;
  padding: 16px;
  border: 1px solid #e1e1e1;
}
/* line 14, ../../sass/pages/_login.sass */
body.login div input[type="text"] {
  margin-right: 8px;
  width: 185px;
}

/* line 5, ../../sass/pages/_chat.sass */
body.chat section {
  position: relative;
}
/* line 9, ../../sass/pages/_chat.sass */
body.chat .main {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -250px;
  border: 1px solid #e1e1e1;
  width: 500px;
}
/* line 17, ../../sass/pages/_chat.sass */
body.chat .history {
  border-bottom: 1px solid #e1e1e1;
}
/* line 20, ../../sass/pages/_chat.sass */
body.chat .history ul li {
  *zoom: 1;
  padding: 8px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.chat .history ul li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 24, ../../sass/pages/_chat.sass */
body.chat .history ul li:last-child {
  border-bottom: none;
}
/* line 26, ../../sass/pages/_chat.sass */
body.chat .history ul p {
  width: 460px;
  line-height: 24px;
}
/* line 30, ../../sass/pages/_chat.sass */
body.chat .history li.you {
  border-right: 3px solid #00e194;
}
/* line 32, ../../sass/pages/_chat.sass */
body.chat .history li.you p {
  float: right;
  text-align: right;
}
/* line 35, ../../sass/pages/_chat.sass */
body.chat .history li.other {
  border-left: 3px solid #e1e1e1;
}
/* line 37, ../../sass/pages/_chat.sass */
body.chat .history li.other p {
  float: left;
}
/* line 40, ../../sass/pages/_chat.sass */
body.chat .actions {
  padding: 16px;
  text-align: center;
}
/* line 43, ../../sass/pages/_chat.sass */
body.chat .actions input[type="text"] {
  width: 380px;
  margin-right: 8px;
}
