<!DOCTYPE HTML>
<html ng-app>
  <head>
    <title>cake v1 - chat</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <script src='/socket.io/socket.io.js'></script>
    <script type="text/javascript"  src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript"  src="js/angular.min.js"></script>
    <script type="text/javascript"  src="js/main.js"></script>
  </head>
  <body class="chat" ng-controller="MessageListCtrl">

    <header>
      <h1>
        cake V1
      </h1>
      <span ng-show="login">Logged in as {{login}} <a href="/logout">[logout]</a></span>
    </header>

    <section>
    <div class="memberList">
      <h2>Members</h2>
      <ul>
        <li ng-repeat="member in members" ng-bind-template="{{member}}">
        </li>
      </ul>
    </div>
    
    <div class="main">
      <div class="history">
        <ul>
          <!--
          <li class="other"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiua, At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatumm</p></li>
          -->
          <li class="you" ng-repeat="message in messages"><p ng-bind-template="{{message.login}}: {{message.text}}">
          </p></li>
        </ul>
      </div>

      <div class="actions">
        <form ng-submit="submitForm()">
          <input type="text" class="message" ng-model="message" />
          <input type="submit" value="Go!" />
        </form>
      </div>
    </div>

    </section>

  </body>
</html>
<script>

</script>
